<div class="container">
  <div class="row">
      <div class="col">
          <div class="dropdown">
              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                  Technology
              </button>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Java</a></li>
                  <li><a class="dropdown-item" href="#">Node</a></li>
                  <li><a class="dropdown-item" href="#">Data</a></li>
              </ul>
          </div>
      </div>
      <div class="col">
          <div class="dropdown">
              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                  Technology
              </button>
              <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Java</a></li>
                  <li><a class="dropdown-item" href="#">Node</a></li>
                  <li><a class="dropdown-item" href="#">Data</a></li>
              </ul>
          </div>
      </div>

      <div class="col">
          <!-- <button class="btn btn-success">Create</button> -->
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Create
          </button>

          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <form action="/action_page.php">
                              <div class="mb-3 mt-3">
                                <label for="email" class="form-label">Email:</label>
                                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                              </div>
                              <div class="mb-3">
                                <label for="pwd" class="form-label">Password:</label>
                                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
                              </div>
                              <div class="form-check mb-3">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" name="remember"> Remember me
                                </label>
                              </div>
                              <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary">Save changes</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>